.friendSuggestion > img{
    min-width:300px;
    max-width: 420px;
    width: 100%;
    height: auto;
    border: 2px solid black;
}

.modal-header {
    text-align: left;
    padding-right: 260px;
}

.container {
    font-size: 1.5em;
}